*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.sticky{
    background: var(--bg-color);
}

.logo{
    position: relative;
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar{
    position: relative;
}


.navbar a{
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

#menu-icon{
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    flex: 1;
}

.home-content h1 span{
    color: var(--main-color);
}

.home-content .text-animate h3{
    font-size: 35px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}


.home-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image img {
    max-width: 100%;
    height: auto;
    max-height: 60vh; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}


.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}


.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}


.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: orangered;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

@keyframes showRight {
    100%{
        width: 0;
    }
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color);
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    margin-left: 11px;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.4rem;
}

.about-content p{
    font-size: 1.2rem;
    margin: 1rem 3rem 1rem;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
    background: var(--second-bg-color);
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 10rem;
    margin-left: 20px;
    margin-right: 20px;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content{
    position: relative;
    padding-left: 1.3rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1rem;
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    margin-bottom: 1.6rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover:before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .3rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 1.8rem;
}

.education-content .content p{
    font-size: 1rem;
    padding-top: .3rem;
}

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover:before{
    width: 100%;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 95%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 89%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 86%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 78%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 97%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 96%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 85%;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 9%;
    background: var(--bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    background: var(--main-color);
    border: .1rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i{
    color: var(--main-color);
}

.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s *var(--i));
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        padding: 2rem 4%;
    }
}

@media (max-width: 768px){
    .header{
        background: var(--bg-color);
    }

    #menu-icon{
        display: block;
    }

    .home-image{
        display: none;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }
}

@media (max-width: 520px){
    html{
        font-size: 50%;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a{
        width: 38px;
        height: 38px;
    }
}


@media (max-width: 462px){
    .home-content h1{
        font-size: 5.2rem;
    }

    .education{
        padding: 10rem 4% 5rem 5%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        margin-top: 2rem;
    }
}

@media (max-width: 371px){
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }
}

@keyframes homeBgText{
    0%,
    10%,
    100%{
        background-position: -50rem 0;
    }
    65%,
    85%{
        background-position: 0 0;
    }
}


@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

